{{ define "modal-seguindo" }}
<div class="modal fade" id="modal-seguindo" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalSeguindoLabel">Seguindo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        {{ if .Seguindo}}
          {{ range .Seguindo}}
            <a href="/usuarios/{{ .ID }}">{{ .Nick }}</a><br>
          {{ end }}
        {{ else }}
          <p class="text-muted">Ninguem seguindo ainda.</p>
        {{ end }}
      </div>

    </div>
  </div>
</div>
{{ end }}
